.input-row{
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  justify-content: center;
  margin-top: 16px;
}

.ingredients-row{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  justify-content: center;
}

.ingredient-buttons{
  background: var(--accent-bg);
  color: var(--accent);
  border: 1px solid var(--accent-border);
  justify-content: center;
}

.recipe-card{
  text-align: left;
  display: flex;
  align-items: flex-start;  /*align to the top*/
  padding: 10px;
}

.recipe-img{
  width: 300px;
  height: auto;  /*match/scale with the width*/
  flex: 0;  /*so the img doesnt get shrunk if details are too long*/
}

.recipe-details{
  flex: 1  /*take up the remaining space beside the img*/
}

.recipe-link {
  display: inline-block;
  margin-top: 12px;
}